@import 'pretendard/dist/web/variable/pretendardvariable-dynamic-subset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  min-height: 100vh;
  background: #fff8f0;
  color: #000;
}
